<h1>Live estimation poker <small>Welcome <strong><%= current_user.name %></strong>!</small></h1>

<%= button_to "Create a new room", rooms_path, class: 'btn btn-large btn-success' %>

<h2>Join an existing room <small>Enter the room code below to join your friends room.</small></h2>

<%= simple_form_for Room.new, url: join_rooms_path, method: :get, html: { class: 'join-room' } do |f| %>
  <div class="input-prepend">
    <span class="add-on"><i class="icon-home"></i></span>
    <%= f.input_field :token, class: 'input-small', maxlength: 4 %>
  </div>

  <%= f.submit "Join", class: 'btn btn-large btn-success' %>
<% end %>
